/*Global Variables*/
:root {
    --big-shoulders-font: "Big Shoulders Display", cursive;
    --outfit-light-font: "Outfit", sans-serif;
    --almost-black-color: #151515;
    --dark-gray-color: #444444;
    --white-color: #ffffff;
    --gold-color: #d5966c;
  }
  
  /*CSS Resets*/
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

/*Homepage Footer*/
#homepage-footer {
    width: 100%;
    height: 336px;
    margin-top: -260px; /*decreases space between footer and main content*/
    background-color: var(--almost-black-color);
  }
  
  /*Keep Footer At Bottom of Page*/
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 336px; /*Footer height*/
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 336px;
  }
  
  /*Footer Text*/
  #homepage-footer-mad-text {
    font-family: var(--big-shoulders-font);
    color: var(--white-color);
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    width: 110.05px;
    padding-top: 30px;
  }
  
  #homepage-footer-mad-subtext {
    font-family: var(--outfit-light-font);
    color: var(--white-color);
    font-size: 16px;
    line-height: 26px;
    width: 311px;
    padding-top: 10px;
  }
  
  #homepage-footer-mad-text,
  #homepage-footer-mad-subtext,
  #homepage-footer-icons {
    padding-left: 30px;
  }
  
  #homepage-footer-icons {
    display: flex;
    gap: 25px;
    padding-top: 30px;
  }
  
  /*Footer Hover*/
  path:hover{
    fill: var(--gold-color);
  }



  /*MEDIA QUERIES*/
/*max-number and below 
  min-number and above*/

/*Mobile Devices*/
/*689 and below*/
@media (max-width: 689px) {
    /*Centers content for mobile*/
    .day-at-gallery-section,
    #canvas-images-and-inspired-group,
    #canvas-and-inspired-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .hero-subtext-par {
      margin-top: -20px;
    }
  
    .day-at-gallery-subtext-par {
      margin-top: 60px;
    }
  }
  
  /*350 and below*/
  @media (max-width: 350px) {
    /*Hero title and subtext*/
    #mod-art-gallery-title,
    #your-day-at-gallery-title {
      font-size: 40px;
    }
  
    #modern-art-gallery-section {
      width: 260px;
    }
  
    .hero-subtext-par {
      width: 300px;
    }
  
    /*Images*/
    #canvas-walls-image,
    #tan-slab-bench-image,
    #people-watch-canvas-image {
      width: 300px;
    }
  
    /*Gallery title and subtext*/
    #your-day-at-gallery-title,
    .day-at-gallery-subtext-par {
      width: 260px;
    }
  
    /*Inspired section title and subtext*/
    .be-inspired-text,
    .be-inspired-subtext {
      width: 280px;
      margin-left: 40px;
    }
  
    /*Footer subtext*/
    #homepage-footer-mad-subtext {
      width: 260px;
    }
  }
  
  /*318 and below*/
  @media (max-width: 318px) {
    /*Gallery title and subtext*/
    #your-day-at-gallery-title,
    .day-at-gallery-subtext-par {
      width: 230px;
    }
  
    /*Hero Subtext*/
    .hero-subtext-par {
      width: 220px;
    }
  
    /*Images*/
    #canvas-walls-image,
    #tan-slab-bench-image,
    #people-watch-canvas-image {
      width: 260px;
    }
  }
  
  /*300 and below*/
  @media (max-width: 300px) {
    .be-inspired-subtext,
    #homepage-footer-mad-subtext {
      width: 235px;
    }
  }
  
  /*Tablet Devices*/
  /*Between 530px and 689px
  Fix inspired and footer text sections*/
  @media (min-width: 530px) and (max-width: 689px) {
    #be-inspired-section {
      display: flex;
      align-items: center;
    }
  
    .be-inspired-subtext {
      margin-left: -2px;
    }
  }
  
  /*Tablet 690px and above*/
  @media (min-width: 690px) {
    #content-wrap {
      display: block;
    }
  
    #hero-old-woman-image {
      width: 437px;
      height: 700px;
      object-fit: contain;
    }
  
    .hero-subtext-par {
      width: 339px;
      font-size: 18px;
      line-height: 28px;
    }
  
    /*Tablet-Modern Art Gallery Section*/
    #modern-art-gallery-section {
      position: absolute;
      top: 0;
      left: 35px;
      margin-left: 300px;
      margin-top: 60px;
      height: 410px;
    }
  
    #mod-art-gallery-title {
      font-size: 70px;
      line-height: 65px;
      width: 339px;
    }
  
    /*Tablet-Day At Gallery Section*/
    .day-at-gallery-section {
      display: flex;
      flex-direction: row-reverse;
      gap: 70px;
    }
  
    #canvas-walls-image {
      width: 398px;
      height: 400px;
    }
  
    #your-day-at-gallery-title {
      font-size: 50px;
      line-height: 45px;
    }
  
    #your-day-at-gallery-title,
    .day-at-gallery-subtext-par {
      width: 223px;
    }
  
    .day-at-gallery-subtext-par {
      padding-top: 20px;
    }
  
    #day-at-gallery-text-group {
      margin-top: 50px;
    }
  
    /*Tablet-Images Section*/
    #tan-slab-bench-image {
      width: 398px;
      height: 720px;
    }
  
    #people-watch-canvas-image {
      width: 280px;
      height: 313px;
    }
  
    /*Tablet-Be Inspired Section*/
    #be-inspired-section {
      width: 280px;
      height: 365px;
      padding-top: 30px;
    }
  
    .be-inspired-text {
      font-size: 50px;
      line-height: 45px;
    }
  
    .be-inspired-text,
    .be-inspired-subtext {
      width: 223px;
    }
  
    #tan-slab-bench-image {
      margin-top: 40px;
      margin-bottom: 0;
      padding: 0;
    }
  
    #people-watch-canvas-image,
    #be-inspired-section {
      display: block;
    }
  
    #people-watch-canvas-image {
      margin-bottom: 10px;
    }
  
    #canvas-images-and-inspired-group {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: -8px;
    }
  
    #canvas-and-inspired-section {
      margin-top: 35px;
    }
  
    #all-sections-groups {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  /*Footer Tablet*/
  @media (min-width: 580px) {
    /*Tablet-Footer*/
    #homepage-footer {
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      height: 200px;
      position: absolute;
      bottom: 0;
    }
  
    #homepage-footer-mad-subtext {
      font-size: 16px;
      line-height: 26px;
      width: 281px;
    }
  }
  
  /*MEDIA QUERIES*/
/*max-number and below 
  min-number and above*/
/*Mobile Devices*/
  /*350 and below*/
  @media (max-width: 350px) {
    /*Footer subtext*/
    #homepage-footer-mad-subtext {
      width: 260px;
    }
  }
  
  /*300 and below*/
  @media (max-width: 300px) {
    #homepage-footer-mad-subtext {
      width: 235px;
    }
  }
  
  /*Tablet Devices*/
  /*Tablet 690px and above*/
  @media (min-width: 690px) {
    #content-wrap {
      display: block;
    }
  }
  
  /*580px and above*/
  @media (min-width: 580px) {
    /*Tablet-Footer*/
    #homepage-footer {
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      height: 200px;
      position: absolute;
      bottom: 0;
    }
  
    #homepage-footer-mad-subtext {
      font-size: 16px;      
      line-height: 26px;
      width: 281px;
    }
  }
  
  /*Desktop Devices*/
  /*1200px and above*/
  @media (min-width: 1200px) {
    #homepage-footer-mad-subtext {
      width: 430px;
    }
  }
  
 
  

  